
> @oftheangels/foreman@0.1.0 test:unit
> vitest run -c vitest.unit.config.ts


[1m[46m RUN [49m[22m [36mv4.1.1 [39m[90m/Users/ldangelo/.foreman/worktrees/9c825a66-276b-4419-8594-219783b4cf4f/foreman-8f320[39m

[?25l[?25h[?25l[?25h
[2m Test Files [22m [1m[32m238 passed[39m[22m[90m (238)[39m
[2m      Tests [22m [1m[32m3785 passed[39m[22m[2m | [22m[33m6 skipped[39m[90m (3791)[39m
[2m   Start at [22m 16:59:09
[2m   Duration [22m 19.58s[2m (transform 5.11s, setup 0ms, import 33.24s, tests 135.06s, environment 21ms)[22m

