
> @oftheangels/foreman@0.1.0 test:unit
> vitest run -c vitest.unit.config.ts


[1m[46m RUN [49m[22m [36mv4.1.1 [39m[90m/Users/ldangelo/.foreman/worktrees/9c825a66-276b-4419-8594-219783b4cf4f/foreman-51106[39m

[?25l[?25h[?25l[?25h
[2m Test Files [22m [1m[32m236 passed[39m[22m[90m (236)[39m
[2m      Tests [22m [1m[32m3775 passed[39m[22m[2m | [22m[33m6 skipped[39m[90m (3781)[39m
[2m   Start at [22m 15:14:27
[2m   Duration [22m 18.65s[2m (transform 4.73s, setup 0ms, import 32.23s, tests 131.71s, environment 12ms)[22m

