
> @oftheangels/foreman@0.1.0 test:unit
> vitest run -c vitest.unit.config.ts


[1m[46m RUN [49m[22m [36mv4.1.1 [39m[90m/Users/ldangelo/.foreman/worktrees/9c825a66-276b-4419-8594-219783b4cf4f/foreman-ac54a[39m

[?25l[?25h[?25l[?25h
[2m Test Files [22m [1m[32m243 passed[39m[22m[90m (243)[39m
[2m      Tests [22m [1m[32m3862 passed[39m[22m[2m | [22m[33m6 skipped[39m[90m (3868)[39m
[2m   Start at [22m 21:38:37
[2m   Duration [22m 14.36s[2m (transform 5.68s, setup 0ms, import 29.40s, tests 124.91s, environment 13ms)[22m

