
> @oftheangels/foreman@0.1.0 test:unit
> vitest run -c vitest.unit.config.ts


[1m[46m RUN [49m[22m [36mv4.1.1 [39m[90m/Users/ldangelo/Development/Fortium/.foreman-worktrees/foreman/foreman-fc1ed[39m


[2m Test Files [22m [1m[32m177 passed[39m[22m[90m (177)[39m
[2m      Tests [22m [1m[32m3036 passed[39m[22m[90m (3036)[39m
[2m   Start at [22m 21:13:50
[2m   Duration [22m 16.53s[2m (transform 2.95s, setup 0ms, import 20.23s, tests 138.14s, environment 9ms)[22m

