
> @oftheangels/foreman@0.1.0 test:unit
> vitest run -c vitest.unit.config.ts


[1m[46m RUN [49m[22m [36mv4.1.1 [39m[90m/Users/ldangelo/Development/Fortium/.foreman-worktrees/foreman/foreman-fc1ed[39m


[2m Test Files [22m [1m[32m177 passed[39m[22m[90m (177)[39m
[2m      Tests [22m [1m[32m3042 passed[39m[22m[90m (3042)[39m
[2m   Start at [22m 09:20:46
[2m   Duration [22m 16.59s[2m (transform 4.24s, setup 0ms, import 22.70s, tests 113.40s, environment 8ms)[22m

