
> @oftheangels/foreman@0.1.0 test:unit
> vitest run -c vitest.unit.config.ts


 RUN  v4.1.1 /Users/ldangelo/Development/Fortium/.foreman-worktrees/foreman/foreman-93880


 Test Files  187 passed (187)
      Tests  3228 passed (3228)
   Start at  14:35:31
   Duration  17.80s (transform 8.66s, setup 0ms, import 40.87s, tests 113.25s, environment 10ms)

